<p>These are the things we'll be discussing today:</p>

<ul class="list">
    <li><a href="#/pages/3">Variables - let</a></li>
    <li><a href="#/pages/4">Variables - const</a></li>
    <li><a href="#/pages/5">Block-scoped functions</a></li>
    <li><a href="#/pages/6">Arrow functions</a></li>
    <li><a href="#/pages/9">Default parameters</a></li>
    <li><a href="#/pages/10">Rest parameters</a></li>
    <li><a href="#/pages/11">Spread operator</a></li>
    <li><a href="#/pages/12">Object method definitions</a></li>
    <li><a href="#/pages/13">Computed property names</a></li>
    <li><a href="#/pages/14">Strings</a></li>
    <li><a href="#/pages/15">Template literals</a></li>
    <li><a href="#/pages/16">Arrays</a></li>
    <li><a href="#/pages/17">Localization and internationalization</a></li>
    <li><a href="#/pages/18">Modules</a></li>
    <li><a href="#/pages/19">Classes</a></li>
    <li><a href="#/pages/20">Promises</a></li>
    <li><a href="#/pages/21">Browser support</a></li>
</ul>